@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
    width: auto;
    font-size: 1.2em;
    border-radius: 5px;
    /* text-align: center; */
}

.head {
    background: rgb(103, 103, 209);
    color: aqua;
    text-align: center;
    border-radius: 5px;
}

#main-form {
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}

#errormsg {
    color: red;
}

#butplace {
    text-align: center;
    border-top: 1px outset rgb(103, 103, 209);
    padding: 10px;
    margin-top: 10px;
}

.imgbut {
    width: 48px;
    height: auto;
    /* visibility: hidden; */
}

.tdlabel {
    text-align: right;
}

.tdinput {
    width: 70px;
    font-size: 1.2em;
}

.copyright {
	color: rgb(103, 103, 209);;
	text-align: right;
	font-size: 0.7em;
	font-style: normal;
	font-family: 'Alkatra', cursive;
	text-transform: capitalize;
}