body {
    /* background: gray; */
    width: 300px;
    
}

.head {
    background: blue;
    color: aqua;
    text-align: center;
    border-radius: 5px;
}

#main-form {
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}

/*
.inputfiled {
    align-items: center;
    width: 50%;
    color: brown;
    border: 5px;
}
*/
.tdlabel {
    text-align: right;
}

.tdinput {
    width: 40px;
}